<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Michroma:wght@400&family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'off-white': '#fafafa',
                        'off-black': '#1a1a1a',
                        'soft-gray': '#f5f5f5',
                        'dark-gray': '#2a2a2a'
                    },
                    fontFamily: {
                        'michroma': ['Michroma', 'sans-serif'],
                        'comfortaa': ['Comfortaa', 'sans-serif'],
                    }
                }
            }
        }
    </script>


</head>
<body>
    
</body>
</html>